.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.github__link {
  text-align: right;
  display: block;
  width: var(--container-width-lg);
  margin: 1rem auto;
}

.portfolio-item {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  cursor: pointer;
  height: 550px;
}

.portfolio-item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio-item-image {
  border-radius: 1.5rem;
  overflow: hidden;
  height: 70%;
  position: relative;
}

.portfolio-item-image .detail {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(255, 77, 77, 0.5); */
  background: rgba(0, 0, 0, 0.5);
  padding: 12px;
  transition: var(--transition);
}

.portfolio-item-image:hover .detail {
  bottom: 0;
}

.detail p {
  font-size: 13px;
}

.portfolio-item h3 {
  margin: 1.2rem 0 .4rem;
}

.portfolio-item p {
  margin: 0rem 0 1rem;
  font-size: 14px;
}

.portfolio-item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}


/* media queries */

@media (max-width: 1024px) {
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }
}

@media (max-width: 600px) {
  .portfolio-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
